html {
	margin:0;
	padding: 0;
}
body {
	margin:0;
	padding: 0;
	
}
#quote-box-wrapper{
	display:flex;
	justify-content: center;
	transition:2s;
	width: 100vw;
    height: 100vh;
    align-self: center;
    margin: 0 auto;
}
#new-quote {
  text-decoration: none;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  transition: 1s;
  display: inline-block;
  font-size: 16px;
  width: 20%;
  margin-left: 70%;
  border-radius: 2px;
  cursor: pointer;

}
@media (max-width: 1000px) {
   #new-quote {
	margin-left: 55%;
	width: 35%;
	padding: 15px 20px;
}

  }
#quote-box{
	justify-content: center;
	position: absolute;
	 top: 25%;
	border-radius: 2px;
    transition: 1s;
	padding: 30px;
	background-color:white;
	min-width: 50vw;
	
}
#button-wrapper{
	display: flex;
}